{block #content}

<h2>{_messages.admin.menu.addPageTitle}</h2>
{control addPageForm}
{/block}
{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
	<script src="{$basePath}/js/jquery.nette.js"></script>
	<script src="{$basePath}/js/jquery.ajaxform.js"></script>
{/block}