{block #content}

	<a n:href="Homepage:page">{_messages.actions.backtohome}</a>
	
	<h2 n:block="title">{_messages.registerForm.title}</h2>

	{control registerForm}

{/block}
<!-- ============End Content================== -->
{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/live-form-validation.js"></script>
{/block}