{block #content}

<h2>Edit News: {$actualNews->title}</h2>
{control editNewsForm}
{/block}

{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/bootstrap.js"></script>
	<script src="{$basePath}/js/jquery.nette.js"></script>
	<script src="{$basePath}/js/jquery.ajaxform.js"></script>
	<script src="{$basePath}/js/nextras.datetimepicker.init.js"></script>
	<script src="{$basePath}/js/nextras.netteForms.js"></script>
{/block}
