{status 404}

{block content}

<h1 n:block="title">{_messages.admin.news.translateNotFound}</h1>

<p>{_messages.admin.news.notFoundExplan}</p>

<a n:href="default:">{_messages.actions.backToAdmin}</a>